<form role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="vm.candidate.name">
  </div>
  <div class="form-group">
    <label for="name">Resume</label>
    <div markdown-editor text="vm.candidate.resume"></div>
  </div>
  <div class="form-group">
    <label for="name">Rating</label>
    <div star-rating ng-model="vm.candidate.rating"></div>
  </div>
  <button type="submit" class="btn btn-default" ng-click="vm.save()">Save</button>
</form>
